<div class="container">
    <div class="card-container">
        <div class="card category-card" [style.backgroundImage]="'url(' + imageUrl + ')'"
            [class.selected]="selected" (click)="toggleSelection()">
            <div class="card-inner">
                <div class="tick-mark" *ngIf="selected">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="card-body text-center text-white">
                    <h2 class="card-title">{{ title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
