<nav class="navbar navbar-expand-lg " data-bs-theme="dark">
    <div class="container-fluid">
      <!-- Artista Logo -->
      <img src="./../../../../assets/logo.png" alt="Artista Logo" class="custom-logo img-fluid" />
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="/foryou" routerLinkActive="active">Home<span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/artist" routerLinkActive="active">Authors</a>
          </li>
        </ul>
  
        <!-- Search Bar -->
        <form class="d-flex searchbox"  (submit)="onSearchSubmit()">
          <input class="form-control me-sm-2" style="border-radius: 5px; height: 40px;" type="search" placeholder="Search"  name="searchTerm">
          <button class="btn btn-light my-2 my-s m-0" type="submit" style="border-radius: 4px;">Search</button>
         <button class="btn btn-signin"  *ngIf="!isAuthenticated" routerLink="/login" type="button">Sign In</button>
    <button class="btn btn-signup" *ngIf="!isAuthenticated" routerLink="/st01" type="button">Sign Up</button>
   <!-- <button class="btn btn-signin"  *ngIf="isAuthenticated" (click)="logout()" type="button">Logout</button> -->

      </form>
      
  
  
   <!-- Icon Section -->
   
    <a routerLink="/contactus" class="navbar-text me-3">
        <i class="bi bi-envelope-fill"></i>
      </a>
    <a href="/cart" class="navbar-text me-3">
      <i class="bi bi-cart-fill"></i>
    </a>
    <a href="/customer-profile-gallery" class="navbar-text">
      <i class="bi bi-person-circle"></i>
    </a>
  </div>
  </div>
  