<form [formGroup]="form" (ngSubmit)="onSubmit()" class="comment-form p-0">
  <div class="input-area">
    <textarea class="form-control comment-area" formControlName="title" placeholder="Join The Discussion..." (input)="checkInput()"></textarea>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end mt-1 gap-3">
      <button class="btn write-btn" type="submit" [disabled]="form.invalid" *ngIf="showSubmitButton">
        {{ submitLabel }}
      </button>
      <button
        *ngIf="hasCancelButton"
        type="button"
        class="btn write-btn"
        (click)="handleCancel.emit()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
