.sidenav {
    background: #800000;
    transition: all 0.2s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100%;
  
    .logo-container {
      display: flex;
      align-items: center;
      padding: 0.938rem 0.938rem 0 0.938rem;
      width: 100%;
  
      .logo {
        background: #fff;
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
        padding: 0.313rem;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        border: none;
      }
      .logo-text {
        margin-left: 1.5rem;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
      }
      .btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;
  
        .close-icon {
          color: #fff;
          font-size: 24px;
        }
      }
    }
  }
  
  .sidenav-collapsed {
    width: 16.5625rem;
  }
  
  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
    flex: 1;
    overflow-y: auto;
  
    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.625rem;
  
      .sidenav-nav-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: #f3f3f3;
        text-decoration: none;
        border-radius: 0.3rem;
        font-weight: 500;
        transition: all 0.3s ease;
  
        .sidenav-link-icon {
          font-size: 22px;
          width: 2rem;
          min-width: 2rem;
          margin: 0 0.5rem;
          text-align: center;
        }
  
        .sidenav-link-text {
          margin-left: 1.5rem;
        }
      }
    }
  
    .sidenav-nav-item:hover {
      .sidenav-nav-link {
        background-color: #fff;
        color: #000;
      }
    }
  }
  
  .admin-details {
    margin-top: auto;
  }
  
  .active {
    background: #fff;
  
    .sidenav-link-icon,
    .sidenav-link-text {
      color: #000;
    }
  }
  
  .body {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    margin-top: 80px;
    z-index: 0;
    position: relative;
    transition: all 0.2s ease;
    background: #f0f0f0;
    padding: 20px;
  }
  
  .body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
    padding: 20px;
  }
  
  .body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    padding: 20px;
  }
  
  .top-nav {
    background: #404040;
    color: #fff;
    padding: 0.938rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: calc(100%);
    top: 0;
    height: 80px;
  }
  
  .admin-details {
    display: flex;
    align-items: center;
  }
  
  .admin-details img {
    border-radius: 50%;
    margin-right: 0.625rem;
  }
  
  .admin-name {
    font-size: 1rem;
    margin-right: 0.625rem;
  }
  
  .alert {
    margin: 0;
    padding: 0;
  }
  
  .border-danger {
    border-color: red;
  }
  
  .title {
    font-size: 28.8px;
  }
  
  .new-modal{
      width: 60vw;
  }
  
  .top-nav .sidenav-toggle {
    display: none !important;
  }
  
  @media (max-width: 768px) {
    .sidenav {
      width: 0;
      overflow: hidden;
    }
    
    .sidenav-collapsed {
      width: 16.5625rem; 
    }
  
    .body {
      width: 100%;
      margin-left: 0;
      margin-top: 60px;
    }
  
    .body-trimmed {
      width: 100%;
      margin-left: 0;
    }
  
    .body-md-screen {
      width: 100%;
      margin-left: 0;
    }
  
    .top-nav .sidenav-toggle {
      display: inline-block !important;
      justify-content: center;
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }
  
    .top-nav .admin-details {
      margin-left: auto;
    }
  }