
.card-body{
    background: rgb(104, 165, 115);
    margin-top: 90px;
    margin-left: 10px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    color: white;
}

.btn btn-primary{
    width: 100px;
    padding: 20px;
    margin-left: 100px;
}

.btn-primary{
    background-color: darkgreen;
    color: white;
    border: 1px solid #011a0c;
}

.button{
    display: flex;
    padding: 10px;
    justify-content: space-between; 
}

.button0{
    padding: 10px;
}

.card-title{
    margin: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
}